.pagination {
  display: flex;
  margin: 0 auto 50px;
  color: #ffffff;
  justify-content: center;
  align-items: center;
}
.arrowLeft {
  width: 10px;
  height: 10px;
  border-left: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  transform: translate(-25%, 0%) rotate(45deg);
}

.arrowRight {
  width: 10px;
  height: 10px;
  border-left: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  transform: translate(25%, 0%) rotate(-135deg);
}
